body {
  margin: 40px;
}

.parent {
  padding: 20px
  display: grid;
  grid-template-columns: 1fr 1fr
}

.box {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  / * padding: 20px; */
  font-size: 150%;
}

.box img {
  width: 100%;
  height: auto;
}

.box.c {
  grid-column: span 1 / -1;
  grid-row: 2 / 3;