body {
  margin: 40px;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  padding: 0px;
  gap: 20px;
  background-color: limegreen;
}

@media (max-width: 600px) {
  .item {
    padding: 10px; /* Or some alternate, smaller value */
  }
}

.item {
  background-color: #444;
  color: #fff;
  border-radius: 20px;
  padding: 20px;
  font-size: 150%;
}

.item img {
  width: 100%;
  height: auto; 
  max-width: 100%; /* Prevent images from expanding beyond their container */
  border-radius: 20px;
}

.item {
  word-break: break-word; /* Allow long words to break to new lines */
  hyphens: auto; /* Optionally enable hyphenation */
}



.item-3 {
  grid-row: 2 / span: 2;
  background-color: black;
  color: #fff;
  border-radius: 20px;
  padding: 20px;
  font-size: 150%;
}

.item-4 {
  grid-row: 3;
  background-color: black;
  color: #fff;
  border-radius: 20px;
  padding: 20px;
  font-size: 150%;
}
